@using AutomaticStockTrading.Services;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Test Page";
}

<body>

<main class="content">  
    
    <p> TEST </p>
    
</main>

</body>