@model AutomaticStockTrading.Models.UserModel;
@using AutomaticStockTrading.Services;


 @{   if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("username")))
     {
        <main>
            <section class="vh-100 d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-12 col-lg-5 order-2 order-lg-1 text-center text-lg-left">
                            <h1 class="mt-5">Du er ikke <span class="text-primary">logget</span> ind</h1>
                            <p class="lead my-4">It's always time for a coffee break. We should be back by the time you finish your coffee.</p>
                            <a class="btn btn-dark animate-hover" asp-action="LoginPage" asp-controller="User"><i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>Go to login</a>
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid w-75" src="../../assets/img/illustrations/500.svg" alt="500 Server Error">
                        </div>
                    </div>
                </div>
            </section>
        </main>
     }
     else
     {
        <main>

            <!-- Section -->
            <section class="bg-soft d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
                <div class="container">
                    <div class="row justify-content-center form-bg-image">
                        <p class="text-center"><a href="./sign-in.html" class="text-gray-700"><i class="fas fa-angle-left me-2"></i> Back to log in</a></p>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                                <h1 class="h3 mb-4">Reset password</h1>
                                <form method="post" asp-controller="User" asp-action="ResetPassword">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <input asp-for="email" type="email" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("email")" placeholder="example@company.com" id="email" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="password">Your Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                            <input asp-for="password" type="password" placeholder="Your Password" class="form-control" id="password" required autofocus>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="new_password">New Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon5"><span class="fas fa-unlock-alt"></span></span>
                                            <input name="newPassword" type="password" placeholder="New Password" class="form-control" id="new_password" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-dark">Reset password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

         }
     }
