<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/200604ee-34aa-4bfd-bdb3-cd01c3c33b92/resourceGroups/AutoStocks/providers/Microsoft.Web/sites/AutomaticStockTrading</ResourceId>
    <ResourceGroup>AutoStocks</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://automaticstocktrading.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>automaticstocktrading.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutomaticStockTrading</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AutomaticStockTrading</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>