@using AutomaticStockTrading.Services;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject StockDataService stock
@{
    ViewData["Title"] = "Forside";
}
@using AutomaticStockTrading.Controllers; 

@{ 
    var nameOfStock = ViewBag.CaseId;
    var selectedStock = YourPagesController.userSelection;
}

@{ 

    <body>

        <main class="content">

            <div class="container" style="width: 100%;">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4 mt-4 ml-4">
                        <h1>@selectedStock</h1>

                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </main>
    </body>
    <script src ="~/js/stockPageChart.js" type="module"></script>
}
