<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <aspNetCore processPath="dotnet"
                arguments=".\MyApp.dll"
                hostingModel="inprocess"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  <connectionStrings>
    <add name="Myconnection" connectionString="Server=projectinstances.cij3th4yqqes.eu-north-1.rds.amazonaws.com;Port=5432;User Id=jtweruc;Password=Thirdsemesterproject;Database=autostocks;" providerName="Npgsql"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="info.automaticstocktrading@gmail.com" password="autostocks123"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>